/* Navbar background */
.navbar-main-body {
    background-color: #001f3f; /* Deep Navy Blue */
  }
  
  /* Navbar links */
  .nv-link {
    color: #f8f9fa !important; /* Soft White */
  }
  
  /* Navbar links hover */
  .nv-link:hover {
    color: #17a2b8 !important; /* Vibrant Cyan */
  }
  
  /* Search button */
  .search-button {
    background-color: #17a2b8; /* Vibrant Cyan */
    border: none;
  }
  
  /* Login button */
  #button-login{
    color: black;
    background-color: #17a2b8; /* Amber */
    border: none;
    font-size: 20px;
    &:hover{
      font-size: 20px;
      color: black;
      transition: 0.2s;
      transform: scale(1.05);
    }
  }
  
 