* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-1: black;
    --color-2: #D3D3D3;
    --color-3: #444444;
    --color-4: white;
    --color-5: lightslategray;
    --color-6: #1E90FF;
}

/* Navbar container */
.navbar {
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px;
    background-color: var(--color-1);
    border-bottom: 2px double var(--color-2);
}

/* Logo styling */
.logo img {
    height: 50px;
}

/* Navbar links */
.navbar-links {
    margin-left: 25%;
    margin-inline-start: 0%;
    display: flex;
    gap: 50px;
    list-style-type: square;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    font-family: 'Montserrat-Regular';
    color: var(--color-2);
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px; /* Added padding for the box effect */
    border-radius: 5px; /* Added border radius for a rounded box effect */
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
    display: inline-block; /* Ensures the padding is applied correctly */
}

.navbar-links li a:hover {
    color: var(--color-4); /* Change text color on hover */
    transform: translateY(-2px); /* Slight lift effect on hover */
    border-bottom: 2px solid #1E90FF;

}

/* Search icon */
.search-icon {
    float: inline-end;
    color: var(--color-2);
    font-size: 20px;
}

/* Search bar container */
.search-div {
    background-color: var(--color-1);
    width: 100%;
    float: inline-end;
    margin-left: 20px;
}

.search-bar {
    margin-top: 1.5%;
    height: 40px;
    width: 350px;
    margin-right: 20px;
    font-size: medium;
    padding-left: 10px;
    background-color: transparent;
    border: 1px solid var(--color-2);
    border-radius: 10px;
    color: var(--color-2);
    transition: border-color 0.3s ease, color 0.3s ease;
}

.search-bar::placeholder {
    color: var(--color-2);
    font-size: 20px;
}

.search-bar:focus {
    border-color: var(--color-6);
    outline: none;
}

/* Navbar buttons */
.navbar-buttons {
    display: flex;
    gap: 10px;
}

.navbar-buttons .buttons {
    font-size: 16px;
    font-family: 'Montserrat-Regular';
    border-radius: 20%;
    background-color: var(--color-1);
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    color: var(--color-2);
}

.navbar-buttons .buttons:hover {
    color: var(--color-1);
    background-color: var(--color-5);
    transform: translateY(-2px); /* Slight lift effect on hover */
}