@font-face {
    font-family: 'Montserrat-Regular';
    src: url('./fonts/Montserrat-Regular.ttf') format('truetype')
}

:root{
    --color-1:black;
    --color-2:#D3D3D3;
    --color-3:#444444;
    --color-4:white;
    --color-5:lightslategray;
    --font-shadow:rgb(42, 40, 40);
}
.about-page{
    background-image: url('./images/background-2.jpg');
    background-size:cover; /*Ensures the image covers the entire div*/
    background-position: center; /*Centers the image*/
    /* width: 500px; */
    height: fit-content;
    font-family: 'Montserrat-Regular';
    width: 100%;
    padding: 4%;
    /* border-top: 1px solid var(--color-2); */
}

.about-body{
    /* margin-top: 5%; */
    padding-top: 8%;
    padding-left: 6%;
    backdrop-filter: blur(20px);
    background-color: var(--color-1);
    width: 700px;
    /* height: 100%; */
    /* border: 1px solid var(--color-2); */
    border-radius: 10%;
    box-shadow: 1px 1px 9px 1px var(--color-5);

}

.about-header{
    float: inline-start;
    font-size: xx-large;
    text-transform: capitalize;
    /* color: var(--color-4); */
    color: var(--color-2);
    
}
.about-horizontal-line{
    width: 94%;
    margin-right: 10%;
    border:1px solid var(--color-5);
}
.paragraph-1{
    line-height: 1.5;
    text-align: left;
    color: var(--color-4);
    /* color: black; */
    padding-right: 2%;
}

.about-header-2{
    font-weight: normal;
            
            /* text-shadow:
            -1px -1px 1px var(--font-shadow),  
            1px -1px 1px var(--font-shadow),
           -1px  1px 1px var(--font-shadow),
            1px  1px 1px var(--font-shadow);  */
    float: inline-start;
    font-size: x-large;
    text-transform: capitalize;
    color: var(--color-2);
}

