/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-1:black;
    --color-2:#D3D3D3;
    --color-3:#444444;
    --color-4:white;
    --color-5:lightslategray;
}
/* Navbar container */
.navbar {
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px;
    /* background-color:var(--color-2); */
    background-color: black;
    border-bottom: 2px double var(--color-2);
    /* box-shadow: 0 4px 4px var(--color-2); */
}

/* Logo styling */
.logo img {
    height: 50px; 
}

/* Navbar links */
.navbar-links {
    margin-left: 25%;
    list-style: none;
    display: flex;
    gap: 30px;
}

.search-icon{
    float: inline-end;
    color: var(--color-2);
    font-size: 20px;
}

.search-div{
    /* background-color: var(--color-2); */
    background-color: black;
    width: 100%;
    float: inline-end;
    margin-left: 20px;
    /* padding: 1%; */
}
.search-bar{
    margin-top: 1.5%;
    height: 25px;
    width: 350px;
    margin-right: 20px;
    font-size: medium;
    padding-left: 10px;
    background-color: transparent;
    float: inline-end;
    /* border: 1px solid var(--color-1); */
    border: 1px solid var(--color-2);
    color: var(--color-2);

    &::placeholder{
        font-size: 23px;
    }
}

.navbar-links li a {
    font-family: 'Montserrat-Regular';
    /* color: var(--color-1); */
    color: var(--color-2);
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.navbar-links li a:hover {
    color: #1E90FF; /* Change color on hover */
}

/* Navbar buttons */
.navbar-buttons {
    display: flex;
    gap: 10px;
}

.navbar-buttons .buttons {
    font-size: 16px;
    font-family: 'Montserrat-Regular';
    border-radius: 20%;
    background-color: var(--color-1);

    padding: 8px 16px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    color: var(--color-2);

    &:hover{
        color:var(--color-1);
        background-color:var(--color-5);
    }
}




